<%= link_to 'Add New', new_conversion_path%>
<h5> CONVERSIONS </h5>
<%=@conversions.each do |con|%>
  <%=con.base_currency%>
  <%=con.target_currency%>
  <div id="rate_<%=con.id%>"><%=con.rate%></div>
  <br>
<%end%>
